
<div class="component_head">
    <blockquote>
        <h3>Salones a desocuparse</h3>
    </blockquote>
    <hr />

</div>
<div class="component_body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="countdown1" class="red"></div>
            </div>
            <div class="col-sm-4">
                <div id="countdown2" class="purple"></div>
            </div>
            <div class="col-sm-4">
                <div id="countdown3" class="blue"></div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-default pull-right" id="">
                <span class="glyphicon glyphicon-new-window"></span> Ver todos
            </button>
        </div>
        <br />
    </div>
</div>



