

@{
    ViewBag.Title = "Admin";
}
<div class="container-fluid main_content">
    <div class="row">
        @*<div class="col-sm-12 pull-left component">
            @{Html.RenderPartial("../Components/_TablaReservas"); }
        </div>*@
        <div id="calendar">

        </div>
        @*<div class="col-sm-12 pull-right component">
            @{Html.RenderPartial("../Components/_TimerSalones"); }
        </div>
        <div class="col-sm-12 pull-right component">
            @{Html.RenderPartial("../Components/_DetalleAulas"); }
        </div>*@

    </div>


</div>